--root {
   color: #e000e0; /* ◻ */
   color: #ff7f00; /* ◻◻◻*/
   color: #00ffff; /* carré 2x2 */
   color: #00ff00; /* diagonale */
   color: #ff0000; /* L */
   color: #ffff00; /* ┘ */
   color: #0000ff; /*  */
   color: #d1d5db; /*  */
}
